<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kysymyspankki</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>KYSYMYSPANKKI</h1>

        <p>Tervetuloa kysymyspankkiin!</p>
        <p>Mitä haluaisit tehdä?</p>

        <p><a href="/uusi">Tästä uuden kysymyksen luomiseen.</a></p>
        
        <p><a href="/kysymykset">Tästä kysymysten listaukseen.</a></p>
    </body>
</html>