<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kysymys</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <p><a href="/kysymykset">Takaisin</a></p>
        <h1>Kysymys</h1>
        
        <h3>Kurssi:</h3> <span th:text="${kys.kurssi}" />
        <h3>Aihe: </h3> <span th:text="${kys.aihe}" />
        <h3>Kysymys: </h3> <span th:text="${kys.kysymysteksti}" />
        
        <h2> Vastaukset </h2>
        
        <ol>
            <li th:each="vastaus: ${kys.lista}">
                <span th:text="${vastaus.oikein} ? 'Oikein.' : 'Väärin.'"></span>
                <span th:text="${vastaus.teksti}">Teksti</span>
                <form method="POST" th:action="@{~/poistav/{id}(id=${vastaus.id})}">
                    <input type="submit" value="Poista"/>
                </form>
            </li>
        </ol>
        
        <form method="POST" th:action="@{~/lisaa/{id}(id=${kys.id})}">
            <span>Uusi vastaus:</span><br/><input type="text" name="vastaus"/><br/>
            <input type="submit" value="Lisää"/>
            <span>Oikein:</span><input type="checkbox" name="tosi" value="oikein"/>
        </form>
        
        <p><a href="/uusi">Takaisin kysymysten luontiin</a></p>
    </body>
</html>
