<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kysymys</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <p><a href="/opiskelijat">Takaisin</a></p>
        <h1>Kysymys</h1>
        
        <h3>Kurssi:</h3> <span th:text="${kys.kurssi}" />
        <h3>Aihe: </h3> <span th:text="${kys.aihe}" />
        <h3>Kysymys: </h3> <span th:text="${kys.kysymysteksti}" />
        
        <h2> Vastaukset </h2>
        
        <span>Vastaus:</span><br/><input type="text" name="vastaus"/><br/>
        <input type="submit" value="Lisää"/>
        
        <p><a href="/opiskelija">Takaisin kysymysten luontiin</a></p>
    </body>
</html>
